body {
    background: #eee;
    color: #444;
}

body.black {
    background-color: #222;
}

footer {
    background-color: #222;
    color: #eee;
    min-height: 115px;
}

.hangingindent {
    padding-left: 22px;
    text-indent: -22px;
}

a:not(.nostyle), .weak {
    color: #666;
}

a:not(.nostyle):hover {
    color: #000;
    text-decoration: none;
}

a.nostyle {
    color: inherit;
}

a i {
    transition: transform 0.1s;
    vertical-align: baseline;
}

a:hover i.rotate {
    transform: rotate(40deg);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

#url > h4 > a {
    margin: 0 15px;
}

.footer i {
    vertical-align: middle;
}

.header-background {
    width: 100%;
    height: 100%;
    opacity: 0.75;
    overflow: auto;
}

#site-link {
    transition: margin 0.4s, padding 0.4s;
}

@media (min-width: 576px) {
    #site-link:hover {
        padding-top: 3rem!important;
        margin-bottom: -2rem!important;
    }
}

.title {
    font-weight: 700;
    font-size: 10rem;
    letter-spacing: 5px;
    font-family: "Roboto";
}

h2 {
    font-weight: 600;
}

.card {
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative;
}

input+.card {
    cursor: pointer;
}

input:checked+.card {
    border-color: #60a0ff;
}

input:checked+.card::before {
    background-color: #60a0ff;
    content: "\1F5F8";
    color: #fff;
    position: absolute;
    left: -1px;
    top: -1px;
    font-weight: 600;
    width: 24px;
    border-top-left-radius: 10px;
}

hr {
    width: 50%;
    margin: 1rem 25%;
}

input[type=checkbox] {
    position: relative;
    width: 25px;
    height: 25px;
}


/* ----------- */

.game {
    background-blend-mode: multiply;
}

.game-list .game {
    cursor: pointer;
}

.game:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.game-list .game:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.game span {
    color: #fff;
    text-shadow: 0px 0px 3px #000;
}

.extras-section-header:not(:first-of-type) {
    margin-top: 20px;
}

.extras-section-header {
    text-transform: uppercase;
    color: #999;
}

.extras-section-header div {
    border-bottom: 1px solid #999;
    top: -10px;
    position: relative;
    margin-left: 10px;
}

.disabled-section {
    filter: grayscale(1) contrast(0.5);
    pointer-events: none;
    user-select: none;
}

* {
    transition: filter 0.5s ease-in-out;
}

.regional {
    color: var(--bs-green) !important;
}

.nonregional {
    color: var(--bs-red) !important;
}

#gameListL .currency-value {
    filter: saturate(4);
}

.currency-value > span {
    position: relative;
}

.currency-value > span[data-uptick-shown=true]::after {
    content: attr(data-uptick);
    font-size: 0.75rem;
    position: absolute;
    bottom: -10px;
    right: 12px;
}

.currency-value > span[data-uptick-gt=true]::after {
    color: var(--bs-red) !important;
}

.currency-value > span[data-uptick-shown=true][data-uptick-gt=false]::before {
    content: "\2B9F";
}

.currency-value > span[data-uptick-shown=true][data-uptick-gt=true]::before {
    content: "\2B9D";
    color: var(--bs-red) !important;
}

.currency-value > span[data-uptick-shown=true]::before {
    font-size: 0.75rem;
    position: absolute;
    bottom: -10px;
    right: 0;
}
